.list-container {
    width: 400px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятости */
    margin-top: 35px; /* Добавляем отступ сверху, чтобы выровнять с Header */
    /*margin-left: -100px; !* Добавляем отступ слева, чтобы выровнять с Display *!*/
    padding: 20px;
}
.list{

}
ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
}

.level1 > li {
    margin-left: 0; /* Сбрасываем отступ для элементов первого уровня */
}

.level2 > li {
    margin-left: 20px; /* Отступ для элементов второго уровня */
}

.level3 > li {
    margin-left: 40px; /* Отступ для элементов третьего уровня */
}

.level1 > li::before {
    content: url('/src/assets/folder-icon.png'); /* Добавляем иконку папки перед элементами первого уровня */
    margin-right: 5px; /* Добавляем отступ между иконкой и текстом */

}


.level2 > li::before {
    content: url('/src/assets/type-icon.png'); /* Иконка типа для элементов второго уровня */
    margin-right: 5px; /* Добавляем отступ между иконкой и текстом */
}

.level3 > li::before {
    content: url('/src/assets/module-icon.png'); /* Иконка модуля для элементов третьего уровня */
    margin-right: 5px; /* Добавляем отступ между иконкой и текстом */
}
.search {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-input {
    flex: 1;
    height: 27px;
    border: 0.3px solid #AAAAAA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-button {
    width: 72px;
    height: 27px;
    background-color: #D9D9D9;
    border: 0.3px solid #AAAAAA;
    cursor: pointer;
    margin: 0;
    margin-left: 5px;
}

.sort p{
    color: #4c4c4c;
    margin: 0;
}
.sort span{
    color: #4c4c4c;
}
/* Добавьте это в ваш файл List.css */

.sort {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px; /* добавим небольшой отступ сверху для визуального разделения */
    margin-bottom: 10px;
}

.sort-options {
    display: flex;
}

.sort-options label {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}
