.display-container {
    display: flex; /* Используем flex-контейнер для размещения компонентов в ряд */
    justify-content: space-between; /* Равномерно распределяем пространство между компонентами */
    align-items: flex-start; /* Выравниваем компоненты по верхнему краю */
    /*margin-left: 100px;*/
    margin-right: 10%;
    width: 60%;
}
input{
    height: 32px;
    border: 0.3px #C5C5C5 solid;
    transition: border-color 0.3s; /* Добавляем плавный переход для эффекта анимации */
    outline: none; /* Убираем стандартную рамку фокуса */
    font-size: 16px;
}
p{
    font-size: 16px;
}
.container {
    display: flex;
    justify-content: space-between; /* Выравниваем по центру по горизонтали */
    align-items: flex-start; /* Выравниваем по верхнему краю по вертикали */
}

.display {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятости */
    padding: 20px;
    margin-left: 20px; /* Добавляем отступ слева */
    margin-top: 85px; /* Добавляем отступ сверху, чтобы выровнять по вертикали с контейнером */
}

.display-content{
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    align-items: flex-start; /* Элементы выравниваются по верхнему краю контейнера */
    height: auto;
    width: 100%;
}
.heading-of-param{
    width: 130px;
    /*margin-right: 10px;*/
    align-items: center;
    display: flex;
    /*padding: 0;*/
    text-align: left;
}
.Housing_params-content {
    column-count: 2; /* Разбиваем контент на две колонки */
    column-gap: 40px; /* Добавляем промежуток между колонками */
    column-width: 250px;
    width: 100%;
}
.display-content-title {
    /*flex-direction: column;*/
    width: 100%; /* Занимает всю доступную ширину родителя */
}

.display-content-titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.display-content-titles > * {
    margin-right: 20px;
}

.display-content-titles > :last-child {
    margin-right: 0; /* У последнего элемента нет правого отступа */
}

.title {
    width: 100%; /* Занимает всю доступную ширину родителя */
    display: flex;
    align-items: center;
    text-align: left;
    height: 60px;
}

.title input {
    width: 100%; /* Расширяется на всю ширину родителя */

}
.display-content-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.params-Housing_params{
    width: 504px;
}
.params{
    margin-top: 20px;
}
.params h4{
    margin: 0;
    margin-bottom: 15px;
}
.parametr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.display-content-info-params{
    margin-right: 20px;
    width: 100%;
}
.display-content-info-image {
    display: flex;
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    max-height: 500px;
    margin-top: 20px;
}
.display-content-info-image > img {
    max-height: 100%;
    object-fit: contain;
}
.info-image-buttons {
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    margin-left: 20px; /* Добавляем отступ слева */
}
.info-image-buttons button + button {
    margin-top: 20px; /* Добавляем отступ сверху для второй кнопки */
}
button {
    background-color: #D9D9D9; /* Цвет фона */
    border: 0.3px solid #AAAAAA; /* Цвет рамки и её ширина */
    margin-top: 20px; /* Отступ между кнопками */
    /*padding: 5px 10px; !* Внутренний отступ кнопки *!*/
    cursor: pointer; /* Показываем, что кнопка кликабельна */
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход цветов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятости */
    width: 89px;
    height: 32px;
}
img{
    border: 0.3px solid #AAAAAA; /* Цвет рамки и её ширина */

}
.display-content-buttons {
    width: 100%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center; /* Выравниваем элементы по центру по горизонтали */
}

.display-content-buttons button {
    margin: 0 10px; /* Расстояние между кнопками */
}
.num_parametrs{
    width: 80px;
    font-weight: bolder;
    text-align: right;
    font-size: 16px;
    height: 30px;

}
.title_parametrs{
    width: 100px;
}
.unit_parametrs{
    width: 50px;
    text-align: right;
}